[2015-07-16 12:26] ncoghlan opened #1 "Add section on available packaging & deployment options"
As discussed at Fedora E&S meeting on July 16, this would be aimed at helping to guide developers packaging different kinds of applications to appropriate packaging tools (Nulecule, xdg-app-, software collections)

[2015-07-16 12:51] phracek opened #2 "Vagrant"
We need to provide a vagrant content for developer so that they can play with vagrant on Fedora.

[2015-07-16 12:53] phracek opened #3 "Docker"
We need to provide a docker content for developer so that they can play with docker on Fedora.
- How to install it
- how to create a docker file
- how to create a image
.....

[2015-07-16 12:58] phracek opened #4 "DevAssistant"
Content should point out to devassistant.org

[2015-07-16 13:54] phracek opened #5 "Content for Fedora 23 Feature Set"
Fedora 23 Feature set should be a part of content.

Later on Features since F22 should be created too.

[2015-07-16 13:57] phracek commented on #5
Fedora 23 Feature set is done by commit https://github.com/developer-portal/content/commit/0cf1a6e37957bd77ce2ec052cde6fb9eb62ea92a

[2015-07-28 14:43] asamalik opened #6 "Python"

[2015-07-28 14:44] asamalik opened #7 "PHP"

[2015-07-28 14:45] asamalik opened #8 "Perl"

[2015-07-28 14:46] asamalik opened #9 "Go"

[2015-07-28 14:46] asamalik opened #10 "C & C++"

[2015-07-28 14:46] asamalik opened #11 "Node.js"

[2015-07-28 14:46] asamalik opened #12 "Java"

[2015-07-28 14:47] asamalik opened #13 "PostgreSQL"

[2015-07-28 14:47] asamalik opened #14 "MariaDB"

[2015-07-28 14:47] asamalik opened #15 "Sqlite"

[2015-07-28 14:49] asamalik opened #16 "Copr"

[2015-07-28 14:49] asamalik opened #17 "Software Collections"

[2015-07-28 14:49] asamalik opened #18 "Nulecule"

[2015-07-28 14:49] asamalik opened #19 "xdg-app"

[2015-07-28 14:50] asamalik opened #20 "Rolekit"

[2015-07-28 14:50] asamalik opened #21 "OpenShift"

[2015-07-28 14:53] asamalik commented on #5
Do we want to include this? It might not be relevant for the target audience.

[2015-07-28 14:57] asamalik opened #22 "Web application"

[2015-07-28 14:57] asamalik opened #23 "Command line application"

[2015-07-28 14:57] asamalik opened #24 "Desktop C/C++ GUI application"

[2015-07-28 14:57] asamalik opened #25 "Mobile application"

[2015-07-28 14:58] asamalik opened #26 "Raspberry Pi"

[2015-07-28 14:58] asamalik opened #27 "Arduino devices"

[2015-07-28 14:58] asamalik opened #28 "Other embedded devices"

[2015-07-28 14:58] asamalik opened #29 "Provide online documentation"

[2015-07-28 14:58] asamalik opened #30 "Collaborate effectively"

[2015-07-30 11:44] TomasTomecek opened #32 "Type in repo description"
[code]

[2015-07-30 11:46] TomasTomecek opened #33 "Create some order in "Technology" section"
I would sort it alphabetically.

[2015-07-30 12:13] vpavlin commented on #33
I agree with @bkabrda that we should sort by popularity

[2015-07-30 12:14] bkabrda commented on #33
Yeah, and maybe include search or possibility to sort alphabetically later.

[2015-07-30 12:23] TomasTomecek commented on #33
How do you figure out popularity?

[2015-07-30 12:40] bkabrda commented on #33
How about counting clicks and sorting the links according to click count? :)

[2015-07-30 13:04] asamalik commented on #32
Thanks

[2015-07-30 13:04] #32 closed

[2015-07-30 13:08] vpavlin opened #34 "Improve contribution guidelines to the repo"
As we talked on Environment & Stacks WG meeting

http://meetbot.fedoraproject.org/fedora-meeting-2/2015-07-30/env-and-stacks.2015-07-30-12.00.html/

There should probably be some "rules" enforced during content addition.
1. Every section should have editor - i.e. subject matter expert has to review all content changes for the given section
2. Before starting work on a specific topic, issue has to

[2015-07-31 08:24] vpavlin commented on #33
+1 if we keep the option to sort alphabetically which might be easier for people just scanning what's the content of the site

@asamalik Is something like this (counting clicks, sorting according to those numbers) possible in Jekyll?

[2015-07-31 08:48] bkabrda commented on #33
To be more specific: I think it'd be confusing to sort this dynamically. Returning users might see a different order every time, which wouldn't be very user friendly. My advise would be to do an estimate in the beginning and then reorder based on click stats e.g. every half year or so.

[2015-07-31 09:01] asamalik commented on #33
I like the idea of sorting content by popularity.

@vpavlin it is not possible. Jekyll generates static pages - so what we deploy is just a set of html files. However, we can use something like Google Analytics which provides very nice overview - even the user-flow through the site.

@bkabrda agree.

I think that Analytics + reordering every half of year or so could do nicely.

[2015-07-31 09:02] asamalik commented on #34
+1

[2015-08-03 11:16] strzibny commented on #5
We should not include it this way. We might select the interesting stuff, but not blindly copy official list from the wiki.

[2015-08-03 11:18] strzibny commented on #34
I mostly agree.

[2015-08-10 07:04] strzibny commented on #29
What does this mean? Please elaborate.

[2015-08-10 07:05] strzibny commented on #17
Software Collections are not part of Fedora as of now.

[2015-08-10 07:05] strzibny commented on #21
OpenShift is not part of Fedora Project in any way. Let's think twice about doing content like this.

[2015-08-10 07:08] strzibny commented on #7
Associated PR: https://github.com/developer-portal/content/pull/36

[2015-08-10 07:08] strzibny commented on #10
Associated PR: https://github.com/developer-portal/content/pull/38

[2015-08-10 07:09] bkabrda commented on #17
It is, however, a technology that is usable on Fedora and used in some COPR repos. So while it should clearly be documented that SCLs are not available through official Fedora repos, describing SCLs in general is IMO a good idea.

[2015-08-10 07:11] strzibny commented on #2
This is now done. I described the installation and usage with VirtualBox, libvirt and Docker and how to use NFS with Vagrant effectively.

[2015-08-10 07:11] #2 closed

[2015-08-10 07:12] bkabrda commented on #21
How so? It's packaged in Fedora and it's a Fedora-friendly way of deploying web applications. (Let's not deny the bonds that go through Red Hat here) IMO we should recommend a deployment option and OpenShift should be the one.

[2015-08-10 07:14] strzibny commented on #17
Yes, but... what will be content of this pages? Creating SCLs should be documented upstream in my opinion. I am not saying the the portal cannot grow into something bigger in future, but covering things that are not in Fedora and not related to Fedora (deployment to OpenShift) I currently see as problematic.

[2015-08-10 07:15] bkabrda commented on #17
In my mind, this should be something very simple, saying:
- What are SCLs
- How to use them
- Where to get them (some copr repos/softwarecollections.org)
- Link to upstream documentation

1 page of text, tops.

[2015-08-10 07:16] strzibny commented on #21
Ok, we have the client packaged. Perhaps that makes sense after all.

[2015-08-10 07:23] strzibny commented on #17
For me one paragraph with a link should be everything needed. We should cover Fedora specifics not do duplicate work. And if upstream documentation is not enough, let's improve that one.

(Yes I am trying very hard to limit the scope of this project because I want to publish something we can actually maintain.)

[2015-08-10 11:43] strzibny commented on #9
First content on golang installation and getting go packages submitted (https://github.com/developer-portal/content/tree/master/tech/languages/go).

[2015-08-11 07:20] hhorak commented on #17
Well, it may be quite unclear that scl.org is actually the only place where collections for Fedora may be advertised currently or even that this site includes also Fedora packages. So, I'd focus on something like this:
* Wanna create SCL for Fedora? Do that, that and that (build it in copr and advertise on scl.org)
* Seeking for SCL for Fedora? Go to ... and search for ...

[2015-08-12 10:10] phracek commented on #8
This is partially fixed by commit https://github.com/developer-portal/content/commit/d40900e6b0ead2919049576df7c1a642f8db8177

Dancer is missing and is going to be added soon.

[2015-08-14 08:29] strzibny commented on #3
It would be nice to mention how to run docker without sudo with the security implications. Perhaps we can just link http://www.projectatomic.io/blog/2015/08/why-we-dont-let-non-root-users-run-docker-in-centos-fedora-or-rhel/.

[2015-08-17 13:18] strzibny commented on #8
I edited the text to match other content including the conversion to markdown.

I am missing Dancer/Dancer2 as mentioned by @phracek + perhaps Catalyst? Or is it not really packaged? I see some components but don't know the way how to install the framework itself.

[2015-08-24 11:46] strzibny commented on #34
We started to work on the guidelines: https://github.com/developer-portal/content/blob/master/CONTRIBUTING.md.

[2015-08-27 08:30] #7 closed

[2015-08-31 11:46] asamalik opened #43 "Ruby"

[2015-08-31 11:46] #43 closed

[2015-08-31 12:15] phracek commented on #4
tradej. This is issue for tracking all stuff regarding DevAssistant.

[2015-08-31 14:26] phracek commented on #17
I guess so. If you would like to create a something for SCL to this, ...
If some steps describe what should be done I would be glad.

[2015-09-01 07:50] thozza commented on #27
I can write something about Arduino IDE and platform-io ;)

[2015-09-01 08:19] xsuchy commented on #1
I started working on this.

[2015-09-01 08:52] asamalik commented on #29
#44

[2015-09-01 08:54] asamalik opened #45 "RPM packages"

[2015-09-01 08:55] asamalik commented on #1
Issues for this content have been created.

@xsuchy I have created an issue #45  for RPM content

[2015-09-01 08:55] #1 closed

[2015-09-01 11:21] thozza commented on #27
https://github.com/developer-portal/content/pull/48

[2015-09-01 12:37] thozza commented on #27
@asamalik the content has been merged, so this issue can be closed IMHO

[2015-09-01 12:38] #15 closed

[2015-09-01 13:13] asamalik commented on #27
Thanks!

[2015-09-01 13:13] #27 closed

[2015-09-01 13:13] #16 closed

[2015-09-01 13:19] #45 closed

[2015-09-01 13:26] #8 closed

[2015-09-02 07:49] #13 closed

[2015-09-02 07:50] asamalik commented on #14
Thanks!

[2015-09-02 07:50] #14 closed

[2015-09-02 07:50] asamalik commented on #13
Thanks!

[2015-09-02 11:15] phracek opened #58 "Systemd for Developers"
I think personaly, that if user creates a daemon, service etc. then it will need a some information about systemd and how to start it.

I think that we should cover it by some short information with references to this page.
https://wiki.freedesktop.org/www/Software/systemd/

I don't know where it belongs to. "start" or "tech"?

[2015-09-02 11:17] phracek commented on #58
@lnykryn and @msekletar are guys who can help us or comment our content.

[2015-09-03 02:16] ncoghlan opened #60 "Contribution links for the Developer Portal itself"
I couldn't find a link from the Portal back to this repo. Perhaps there could be an "About" page or similar that describes how to report problems and contribute fixes?

[2015-09-03 02:26] ncoghlan opened #61 "Mentioning language specific tools in the RPM Packaging guide"
The new RPM Packaging guide is great, but in many cases folks can generate a decent starting SPEC file from upstream metadata, rather than having to start from scratch. Two tools I'm aware on that front:

* Python: pyp2rpm (by Slavek Kabrda & Robert Kuska)
* Perl: cpanspec

I assume similar tools existing for at least some other language ecosystems, I'm just not aware of them personally.

In terms

[2015-09-03 07:40] #12 closed

[2015-09-03 10:39] strzibny commented on #61
I would actually prefer just links from this guide to relevant guidelines/info we have already in Fedora wiki - which is the place for developers that develop Fedora (as opposed the goal of developers that just develop **on** Fedora).

[2015-09-03 10:44] strzibny commented on #61
To be more precise:

Let's not do this. Let's keep the info on packaging just in the RPM packaging section. There are already links to Special Interest Groups and I think that's enough.

Instead of *to the appropriate section on the language page* I would say *to the appropriate Fedora wiki pages*. Fedora Developer Portal is not here to replace the wiki. Perhaps in far future we can try to do in,

[2015-09-03 10:45] strzibny commented on #60
Yes, it's a good idea. We can link it from the footer I guess.

[2015-09-03 10:46] strzibny commented on #29
So this is done, closing.

[2015-09-03 10:46] #29 closed

[2015-09-03 15:03] ncoghlan commented on #61
The wiki is not a suitable resource for folks packaging *on* Fedora.

When we're making packages *for* Fedora, they need to meet much stricter policy requirements than of we just want to do things like bundle up an entire Python virtualenv for deployment as an RPM, or do an initial conversion of an existing upstream project to SRPM to upload it into COPR.

It's the latter kind of policy non-compli

[2015-09-04 07:40] strzibny commented on #61
Ok, I admit that it's not that nicely documented on the wiki. We have a mention of Ruby SIG in the content and on Ruby SIG wiki page we mention gem2rpm, but there is no HOW TO.

The thing why I don't like the idea of including in tech/languages section is that before talking about gem2rpm you need to explain a lot about packaging itself...I would probably like it more in packaging/Copr sections...

[2015-09-05 00:19] ncoghlan commented on #61
I don't think it's necessarily true that you need to know a lot about packaging to use tools like gem2rpm, pyp2rpm or cpanspec successfully - those tools encode a lot of knowledge in their templates, so you can get started using them mechanically, and then use what they generate as a road map for understanding RPM concepts.

Or, alternatively, if distro policy compliance isn't a goal, or if the up

[2015-09-07 06:21] strzibny commented on #61
Btw we also aim for automation in gem2rpm, but it's not entirely possible (C extensions are a bit problematic). You still need RPM knowledge to finish it. On the contrary there are tools on the internet when this knowledge is not needed as they avoid writing SPEC files at all. Not sure we want to encourage these.

[2015-09-07 06:33] ncoghlan commented on #61
For the "no SRPM" case, I like the approach of bundling up an entire language level virtual environment (binaries, metadata files, and all) and deploying that. That's the way the rpm-maven plugin works, and I see it as fairly comparable to do the same thing as a Docker image layer, just with a different deployment technology.

[2015-09-10 12:27] strzibny opened #65 "Link Ask.Fedora labels"
We include a list of Ask.Fedora links to relevant labels where it make sense. Perhaps with an Ask.Fedora logo on the site.

[2015-09-11 07:46] asamalik opened #66 "Short description for each content"
To be shown in menu and in the header as well.

https://raw.githubusercontent.com/developer-portal/mockups/master/Mockups/details-page_1.0.png

[2015-09-11 08:06] phracek commented on #25
This is fixed by PR https://github.com/developer-portal/content/pull/56

[2015-09-11 08:06] #25 closed

[2015-09-14 06:17] strzibny opened #69 "Make the headlines the same"
Some headlines are camel-cased, some not. We should use just one style.

e.g. My Headline About Something
vs  My headline about something

I prefer the latter.

[2015-09-14 06:22] asamalik commented on #69
In English, **The First Variant** is correct (as opposed to Czech)

http://english.stackexchange.com/questions/14/which-words-in-a-title-should-be-capitalized

[2015-09-14 07:28] #4 closed

[2015-09-14 07:55] strzibny commented on #69
That's simply not true. You can always capitalize as normal sentence which many English sites do *including* redhat.com, getfedora.org, Fedora wiki, etc....and as I said I would really prefer it.

[2015-09-16 20:02] strzibny commented on #69
This is now done for the already submitted content here: https://github.com/developer-portal/content/commit/f1c5adc2a51f4bc4cda2b11a84cf1c2ce1805daf

I updated the guidelines as well.

[2015-09-21 09:57] #65 closed

[2015-09-21 09:58] #69 closed

[2015-09-25 06:39] strzibny opened #71 "Add troubleshooting to vagrant contetn"
Guides such as https://fedoraproject.org/wiki/How_to_debug_Virtualization_problems can be very helpful in debugging libvirt and should be linked from vagrant content.

[2015-09-29 07:04] strzibny commented on #60
This is done in https://github.com/developer-portal/website/commit/7300a58714687ef2209d2b32a293c182781af0ad. Closing.

[2015-09-29 07:04] #60 closed

[2015-09-29 07:33] strzibny opened #72 "Vagrant content should tell ppl how to find/get Fedora/CentOS/RHEL Vagrant boxes"

[2015-09-29 08:36] #10 closed

[2015-09-30 09:17] shaded-enmity commented on #9
Ack+

[2015-09-30 09:19] #9 closed

[2015-09-30 09:21] jpopelka commented on #9
LGTM

[2015-10-08 12:05] #11 closed

[2015-10-08 14:17] #3 closed

[2015-10-09 08:16] asamalik commented on #21
What we need here is an information about:
 - What is OpenShift Online (the current running OpenShift Online v2)
 - Basic info about web and cli interface
 - How to deploy an app (1. create, 2. git push, + link to other resources)

[2015-10-12 12:11] phracek opened #78 "Secondary arches on Fedora"
Since Fedora supports secondary arches. It would be nice to have a some notes about it.
Would it be possible to write a some notes?

I will contact our secondary arches team.

[2015-10-12 13:32] #6 closed

[2015-10-19 10:20] mfojtik commented on #21
@mjelen PTAL

[2015-10-22 08:25] strzibny commented on #66
I fixed that already, closing.

[2015-10-22 08:25] #66 closed

[2015-10-29 13:35] hhorak opened #82 "Introduce Technology -> Applications"
There is a nice how-to setup for Drupal, that I've just fixed to be working on Fedora 23:
https://fedoraproject.org/wiki/How_to_install_Drupal

I'm thinking now how to connect that wiki page with the developer portal, if that is something we want to do at all. What I was thinking about was to create a new category on developer portal, under: Technology called "Applications". That would be place to

[2015-10-30 14:30] strzibny commented on #82
I wonder whether people would like to see it leave the WIKI. Starting with linking it might be better for now.

[2015-11-02 19:30] strzibny opened #86 "Portal logotype and logotypes used in carousel needs to be HiDPI"

[2015-11-03 07:32] strzibny opened #89 "Vagrant content mentions URLS that are not proper links"

[2015-11-03 13:16] strzibny commented on #86
Sorry, this should be website issue, let's continue here: https://github.com/developer-portal/website/issues/14.

[2015-11-03 13:16] #86 closed

[2015-11-08 10:41] felipeborges opened #94 "Introduce a Desktop section"
Fedora is a good and popular development platform for Gtk+ and Qt development. Writing GUI applications in these toolkits involve knowledge of tools, languages, and guidelines.

I suggest adding a Desktop section with articles such "Writing a Hello World application in gjs" (gjs is gnome javascript, the language we focus on for newcomers). I am willing to contribute with this introductory article

[2015-11-08 13:41] phracek commented on #94
well It's a nice idea. On the workshop OpenAlt2015 I have heard about Gnome-Builder.

Are you able to provide a some notes or even the whole structure?

[2015-11-08 17:48] felipeborges commented on #94
I would suggest having a Desktop section, and under it a Gtk+ and a Qt subsections.

For instance, In the Gtk+ section I would have a main article describing the toolkit and the interesting utils for Gtk development, such as: GNOME Builder, Devhelp, gtk3-demo. After that I would link to specific articles for writing a "Hello World" application in a language of your choice: gjs, pygi (python + gobj

[2015-11-09 11:03] FrostyX opened #97 "Python - Sphinx"
I think that there should be a section about Sphinx as the most commonly used documentation generator for Python.

In a case that someone is already working on this, please let me know. Otherwise I will start to work on this.

[2015-11-09 12:03] TomasTomecek commented on #97
CC @sYnfo

[2015-11-09 15:45] strzibny commented on #94
That would be really nice!

[2015-11-10 14:12] phracek commented on #94
What languages do you prefer to use? C/C++ or Python? Or both?

[2015-11-10 14:13] phracek commented on #94
This is awesome. Go ahead. We need more GUI:)

[2015-11-10 14:14] phracek commented on #94
I have created a DevAssistant GUI a long time ago with pygi too.

[2015-11-11 20:58] FrostyX opened #99 "Images in content"
It would be nice to have possibility to show images in the content. It doesn't make much sense for programming languages and CLI stuff, but in some cases it might be fine:

1. Showing image with end result as a motivation (I am working on Sphinx tutorial, and I think screenshot of some documentation would be nice)
2. Showing some GUI/Web tool (From current content it can be DevAssistant and Copr)

[2015-11-12 14:57] asamalik opened #102 "Vagrant content should show how to run it with libvirt provider"
I would suggest to do the similar as in VirtualBox section:

"To use VirtualBox provider with any Vagrant commands, one has to explicitly append --provider=virtualbox."

[2015-11-13 12:30] asamalik opened #103 ""Didn't work? Click here to open an issue.""
Do we want to encourage people to open an issue, if the guide didn't work for them?

We could provide a link on every page that would say something like: "Didn't work? Click here to open an issue."

[2015-11-13 14:18] strzibny commented on #103
Do you want both a link to create an issue AND link to fix/edit the page?

[2015-11-13 14:32] asamalik commented on #103
Probably not.

I just want to make sure, that it attracts both beginners and experienced developers.

It should give these two messages at the same time:
 - "Didn't it work for you and you don't know why? Let us know."
 - "Do you want to fix/extend/contribute to this page? Do it here."

[2015-11-16 04:28] ryanlerch opened #104 "Android SDK on fedora"
I wrote up this article a while back for the Fedora Magazine -- might be nice to publish it here too.

But not sure what category to put it in...

https://fedoramagazine.org/start-developing-android-apps-on-fedora-in-10-minutes/

I know this is borderline for inclusion, as the SDK isnt in the repos, but it might be useful for a developer that uses Fedora.

happy to convert to markdown and edit it

[2015-11-16 09:31] phracek commented on #104
Thanks.

I have already write something here: https://github.com/developer-portal/content/blob/master/start/sw/mobile-app .
We should definitely included some your hints or tips there or create a new section, though.

[2015-11-16 09:36] phracek commented on #104
I think, personally, we should create a new section. Please send us a Pull Request.
I will review it.

Great work.

[2015-11-19 10:19] phracek commented on #104
@ryanlerch How it is going? We would like to release a new set of contents.

[2015-12-01 10:53] strzibny commented on #102
libvirt provider is the default (as mentioned), what am I missing?

[2015-12-01 12:29] asamalik commented on #102
When a Vagrantfile defaults to VirtualBox and user installed libvirt and VirtualBox together on their machine.

We can say that libvirt is the default and it's not necessary to use this option, it might be useful in some cases.

[2015-12-01 13:07] strzibny commented on #102
- If Vagrantfile supports only VirtualBox, user cannot use libvirt provider.
- If Vagrantfile supports libvirt, it will be used as a default.
- If Vagrantfile overrides provider, the switch won't work.

[2015-12-01 13:23] asamalik commented on #102
OK, then it's probably fine to leave it as it is.

[2015-12-01 13:23] #102 closed

[2015-12-07 06:17] msrb opened #110 "Inconsistencies in Vagrant+Docker section"
["Using Docker from Vagrant without password prompts"] section seems to be somehow inconsistent. First it tells me that "it is enough to add yourself to the vagrant group" and later it suggests to create docker group instead:
 "$ sudo groupadd docker && sudo gpasswd -a ${USER} docker && sudo systemctl restart docker"

["Using Docker from Vagrant without password prompts"]: https://github.com/devel

[2015-12-07 08:15] strzibny commented on #110
Oh, it got copying from somewhere else and its wrong. Thank you for spotting it @msrb. Fixed in https://github.com/developer-portal/content/commit/80ad3aef09dc9a64912fa9163e05f47f7343157f.

[2015-12-07 08:15] #110 closed

[2015-12-08 07:08] phracek opened #111 "virt-builder logo"
We are missing virt-builder logo.
Could you please provide it?

@kashyapc Please take care it. Thankx.

[2015-12-08 09:10] kashyapc commented on #111
@phracek Here we go.

Here is a PNG: https://kashyapc.fedorapeople.org/banner_virt-builder.png
And, the original SVG: http://libguestfs.org/virt-builder.svg

[2015-12-08 11:49] strzibny commented on #111
@phracek Isn't this one related? https://github.com/developer-portal/website/pull/25

[2015-12-08 11:59] phracek commented on #111
Yes. It is a duplicate.

[2015-12-08 12:49] phracek commented on #111
I have opened issue coincidentally.

[2015-12-08 12:49] #111 closed

[2016-01-04 09:02] phracek opened #114 "Drupal 8 with Docker"
We find a volunteer who can help us with content for Drupal 8 a docker.

Basic information are available here.
https://blog.wodby.com/6-reasons-to-deploy-drupal-8-with-docker-how-to-guide-b2f073e61672#.gpfaa58a8

@vpavlin What do you think about it? Would you be able to create a content?

[2016-01-07 12:01] phracek opened #115 "New section called 'Maitain & Improve'"
Many developers create and sustain programs

I think this section could be used for links like:
- continuous integration
- static analysis
- how to rebase to new version
- how can I distribute it.
etc.

There could be also pages with information like:
- How can I maintain project/program? What programs can I used?
- How to improve project or program?
- How can I build a project?

[2016-01-11 09:20] thozza opened #117 "Including Arduino in the section "Languages and Databases"?"
Unfortunately the Arduino content is not included anywhere on the developer portal, although it is ready. I know that you don't have enough content for embedded platform to have meaningful section. Therefore I think the Arduino content could be moved to the "languages and databases" section, until you have more content for embedded platforms.

And to support my idea - document proving that Arduino

[2016-02-11 00:00] marbu commented on #61
As a newcomer to Fedora packaging, I feel that this is a valid point: fedora wikipages of language/platform guidelines provide way too much detail and doesn't always follow the same structure (different approach works for each group) - which is completely fine as far as the group is concerned.

But here our message to get through is more general: for many languages such as python, perl, ruby, hask

[2016-02-11 08:23] phracek commented on #61
I would be glad to separate it for all available languages.
Could you please send us a PR?

Or even some template would be welcome.
I can only say, we need both approaches. As from the scratch as from template or similar.

[2016-02-15 13:35] phracek commented on #24
@felipeborges: Could you please look at it? At least from C/C++ point of view.

[2016-02-15 13:36] felipeborges commented on #24
@phracek Sure!

[2016-02-15 18:54] strzibny commented on #24
In regards to this, we could probably cover Vala as a language (used within GNOME project).

[2016-02-23 11:49] asamalik commented on #117
I know and it's stupid of us to not show it anywhere. I will publish the start section with the content we have.

[2016-02-24 15:53] manjujidagi commented on #24
I am also interested in same topic ...
I need ur e-mail ID to contact you

[2016-02-24 19:21] asamalik commented on #24
@manjujidagi that's great! You can use our mailing list: https://admin.fedoraproject.org/mailman/listinfo/developer-portal

[2016-03-01 00:35] rafaelreuber opened #120 "@development-tools package missing on the RPM Packaging on the Setup session"
The [RPM Packaging on the Setup session](https://developer.fedoraproject.org/deployment/rpm/about.html) install two packages: fedora-packager rpmdevtools.
But according with the [How to create an RPM package](https://fedoraproject.org/wiki/How_to_create_an_RPM_package), you should to install the following three packages: @development-tools, fedora-packager and rpmdevtools

[2016-03-16 07:51] phracek opened #121 "XdgApp for Desktop GUI Application."
We would like to have a section in XdgApp in Desktop GUI Application.

Some blogs and articles have been already published.
https://blogs.gnome.org/alexl/2016/02/19/building-an-xdg-app-part-1/
https://blogs.gnome.org/alexl/2016/02/19/building-an-xdg-app-part-2/
https://blogs.gnome.org/alexl/2016/02/22/building-an-xdg-app-part-3/
https://blogs.gnome.org/alexl/2016/02/23/building-an-xdg-app-part-4/

[2016-03-16 08:00] alexlarsson commented on #121
I'm pretty busy with actually creating xdg-app, and quite some stuff are still not settled yet. But I can try to help with this.

What kind of guide is this supposed to be though? Is it for packaging your own in-house application so that anyone on any distro can run it, or is it about fedora packaging? That matters a lot in how you would build it. For instance, what runtime would it use, and would

[2016-03-16 08:01] alexlarsson commented on #121
In particular, the fedora packaging side, including tooling and a making a supported fedora runtime is not decided how its supposed to work.

[2016-03-16 08:57] phracek commented on #121
Great thanks for info. I have meant guides like. How to create a simple XdgApp and may be explain XdgApp a bit.
Nowadays it is not for packaging.

[2016-03-16 09:03] alexlarsson commented on #121
What do you mean by "simple". Like, how is an "rpm" simple or not? You mean using few features of xdg-app? Or are you talking about writing an actual GUI application from scratch? Not just packaging an existing one?

[2016-04-13 11:44] sinnykumari commented on #78
Made pull request for Secondary Architectures content https://github.com/developer-portal/content/pull/122

[2016-04-22 09:51] asamalik opened #128 "Eclipse"

[2016-04-27 14:01] asamalik commented on #117
https://developer.fedoraproject.org/start/hw/arduino/about.html

[2016-04-27 14:01] #117 closed

[2016-04-27 14:03] asamalik commented on #5
This issue is outdated. If it's still relevant, let's discuss it on the mailing list.

[2016-04-27 14:03] #5 closed

[2016-04-27 14:07] asamalik commented on #94
@felipeborges I have marked this as 'in progress' because you have started to work on it. Is that ok?

[2016-04-27 14:08] asamalik commented on #24
duplicate to #94

[2016-04-27 14:08] #24 closed

[2016-04-27 14:22] felipeborges commented on #94
@asamalik sure. More articles to come!

[2016-04-27 20:53] ampotty opened #131 "Website Translation"
Hello! I would like to translate the site to Spanish.

I see there's no project on Zanata... Where do I start translating?

Thank you in advance!

[2016-04-28 11:41] phracek commented on #131
Based on mail from Jean-Baptiste, I would prefer to start a project on Zanata.
https://lists.fedoraproject.org/archives/list/developer-portal@lists.fedoraproject.org/message/BXCA7UVJKHQC4DY3SHZEIQBOXCL3GGLQ/

[2016-04-28 13:25] anamativi commented on #131
I would like to help with Portuguese (Brasil) translations. I'm following the discussions on the mail list as well.

[2016-04-28 20:19] Jibec commented on #131
Thanks @phracek for your help.
As we are on wishlist, I share you the link about a recent discussion with Ralph Bean from infra team. I think the same advice applies here. #https://github.com/fedora-infra/asknot-ng/issues/69
Let us know when we can start translating :)

[2016-04-28 20:56] 1dot75cm commented on #131
Very nice. I would like to help with Chinese translations.

[2016-04-29 07:34] phracek commented on #131
Add reference to infra ticket https://fedorahosted.org/fedora-infrastructure/ticket/5265

[2016-05-02 08:50] FrostyX commented on #97
It is already in production, so I am closing this.

[2016-05-02 08:50] #97 closed

[2016-05-02 10:47] phracek commented on #120
Well we have to clarify it.
I am not sure, if the group @development-tools is still needed.

[2016-05-03 09:57] phracek commented on #115
Reference Pull Request https://github.com/developer-portal/content/pull/135

[2016-05-03 13:42] phracek commented on #131
@Jibec You can start with translating. But my question is. What shall we do from Fedora Developer Portal team? Shall I create zanata.xml file and I10n directory with all contains like is mentioned on asknot-ng?

[2016-05-03 17:24] strzibny commented on #131
This is great to see people wanting to do the translations, but before we should probably decide how this is going to work. It could happen that translated content will not keep up with the original and become obsolete. Also, technically, we have nothing in place to support translations.

[2016-05-03 18:26] Jibec commented on #131
@phracek : you should produce your project in Zanata and add the necessary mechanism to produce po files and publish translated content in developper-portal. Easy to write, probably less to do.

At the moment, simply translate ".md" files won't be sufficient. Text has to be smaller (as much for translation memory as for ease to manipulate) and to be in context (cf infra ticket : cut po files accor

[2016-05-04 21:31] aeng commented on #131
Given all the content is in .md format, we might need to upload to Zanata as `File` project type and use text filter to parse it. The project maintainer need to prepare these before translators can start working on the translations.

Let me know if you need any help on that.
http://docs.zanata.org/en/release/user-guide/documents/upload-documents/

[2016-05-20 13:46] voxik opened #139 "Suggest to install @rubyonrails instead of independent packages"
@strzibny wouldn't it be better to suggest to install the RoR comps group instead of set of packages?

[2016-05-22 17:08] strzibny commented on #139
As I remember @rubyonrails was installing lot of other packages. I think I was updating the group but not sure for which version of Fedora. Most likely is fine for Fedora 24, 23.

[2016-05-22 18:18] voxik commented on #139
I just would not need to open PR such as #138 ;) but feel free to close this issue

[2016-05-23 05:50] Jibec commented on #131
hi @phracek, any updates or tests so far ? Thanks for your help

[2016-05-23 07:52] phracek commented on #131
@Jibec I did not start it yet:( Sorry I was a pretty busy with another stuff.
But as @aeng mentioned upload-documents would be a right way.

[2016-05-25 13:08] phracek commented on #115
This is already done.

[2016-05-25 13:08] #115 closed

[2016-05-25 13:09] phracek commented on #120
@rafaelreuber Can you please send us PR for this issue?

[2016-05-25 13:12] phracek commented on #104
@ryanlerch What do you think about writing an content here instead of https://github.com/developer-portal/content/blob/master/start/sw/mobile-app/mobile-installation.md?
Does it make sense for you?

[2016-06-06 07:25] akurtakov commented on #128
Pull request #140 should fix it.

[2016-06-10 16:58] vishnuavenu commented on #94
Can't We use Node environment in gnome apps development ?

[2016-06-11 10:15] strzibny commented on #94
I guess prefered lang is Vala at this moment but many others are supported. I think it is fine to introduce all runtimes/envs that are primarily supported by Gnome.

[2016-06-16 11:10] akurtakov commented on #128
Pull request was merged. When is it supposed to make it to the web page?

[2016-06-16 11:34] strzibny commented on #128
@akurtakov We do irregular updates of the site. It's all done in this repo: https://github.com/developer-portal/developer.fedoraproject.org

[2016-06-16 15:58] rimolive commented on #23
By "Command line application" wha you mean it? C programs? Ruby? Python? Shell script?

[2016-06-23 09:26] phracek commented on #23
And what about all;) Except Shell script.
Personally, I would be glad for C, Python and Ruby. But let's discuss it.
Feel free to use on freenode channel #developer-portal or mailing list developer-portal@lists.fedoraproject.org

[2016-06-27 08:41] abokth opened #146 "Main page <meta name="description"> contains only the sample text"
Site previews look like:

developer.fedoraproject.org
Fedora Developer Portal
Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.

[2016-07-18 08:41] phracek commented on #131
@aeng I have created a project on Zanata for Fedora Developer Portal. https://translate.zanata.org/project/view/developer-portal?dswid=-454

Soon I will send documents which needs to be translated.
Question is how we will distribute translations? We don't want to include translation into our GitHub repo.

[2016-07-28 13:20] msehnout opened #151 "Rust language"
It seems that [the Rust programming language](https://www.rust-lang.org) might eventually get into Fedora:
https://admin.fedoraproject.org/pkgdb/package/rpms/rust/
Developer portal should have a section about it.

[2016-09-26 13:24] phracek commented on #151
I guess, PR is merged and we can close the issue.

[2016-09-26 13:24] #151 closed

[2016-09-30 20:13] Jibec commented on #131
hi there, long time no see, any news here ? You should contact Website team, they do not commit translation in git and it works fine (I do not understand the choice, but as far as it works...).
Thanks for your help, (btw, I feel like Pagure have everything you need from live edits to documentation hosting, git and issue tracker)

[2016-10-03 22:18] aeng commented on #131
@phracek What framework the website is operating in? If it support internationalisation, then it should have someway to store the translation files.

[2016-10-04 06:37] strzibny commented on #131
@aeng it's built on Jekyll.

[2016-10-14 13:05] pvalena commented on #146
This was resolved by https://github.com/developer-portal/website/pull/39

Thank you!

[2016-10-14 13:05] #146 closed

[2016-10-14 13:12] pvalena commented on #103
We could have some button which leads to creating a new issue next to "Edit this page" button, e.g. here:

https://developer.fedoraproject.org/start/sw/gui-app/about.html

[2016-10-14 13:16] pvalena commented on #99
It is possible to attach images, f.e.:

https://github.com/developer-portal/content/commit/6dbd8448556eff0626c1ba39590cb76e141c73e9

Thank you!

[2016-10-14 13:16] #99 closed

[2016-10-14 13:25] pvalena commented on #17
I'm closing this, because [1] do not mention Fedora at all.

[1] https://www.softwarecollections.org

[2016-10-14 13:25] #17 closed

[2016-10-14 14:16] hhorak commented on #17
But it could :) I think it still makes sense to help people to deliver this awesome technology on Fedora, outside of distribution, but still... SCL builds from copr are technically fine enough for softwarecollections.org..

[2016-10-14 14:45] pvalena commented on #17
@hhorak, for me the issue is that there is no documentation/upstream/activity for SCL on Fedora that I know of we could point people to. I do not think it's wise to have an 'upstream' for SCL on Fedora on developer-portal. We do not think we could handle all the issues with it.

[2016-10-14 14:56] hhorak commented on #17
I don't think it means any significant work for developer portal, what I'd like to see though is something along these lines:

* "Do you want to have more versions of one package on one system? that's what SCLs are for."
* now 3 paragraphs of principles
* something about new version of scl-utils package in Fedora
* link to packaging guide on scl.org
* example copr build of one simple collection
*

[2016-10-14 15:18] pvalena commented on #17
I agree that It makes sense to include multiple-package-versions topic, as it affects developer's environment greatly. So maybe it could be under "Deploy and Distribute"? @asamalik, @phracek, what do you think?

[2016-10-14 15:23] strzibny commented on #17
I think we are beyond the initial bootstrapping so including well-maintained coprs and SCLs are no issue for me.

[2016-10-28 09:50] comzeradd opened #163 "docker-compose should have a selinux section"
On the [docker-compose guide](https://developer.fedoraproject.org/tools/docker/compose.html) there is no mention on SELinux.

Most developers, not familiar with SELinux, will spend a lot of time before figuring out why the container can't access the filesystem.

[2016-10-31 09:14] wrabcak commented on #163
I'll go thru tutorial and try to catch SELinux issues and then can help with writing SELinux section.

[2016-11-07 16:56] pvalena opened #165 "Invalid link in Scientific Python Stack subsection"
https://github.com/developer-portal/content/commit/b0ed78072094b4108078ac475762add649e8193c#diff-0037d2d83c239af0951d1f3ba2e83df0R11

The link target is 'v':

`[SciPy Stack](v)`

[2016-11-07 16:56] pvalena commented on #165
@rpavelka @jhornice could you fix this, please?

[2016-11-07 17:18] rpavelka commented on #165
Done: https://github.com/developer-portal/content/pull/166

[2016-11-09 13:34] #165 closed

[2016-12-12 08:41] strzibny commented on #139
@voxik it looks fine now, I think we can switch go groupinstall. Would you make a PR? :)

[2016-12-22 09:32] pvalena commented on #139
This was resolved by
https://github.com/developer-portal/content/commit/900bc4e06c4cc15a73272a48a721d960f3d14862
Feel free to reopen if I am mistaken.

[2016-12-22 09:32] #139 closed

[2017-01-06 02:28] sferich888 commented on #21
@asamalik Do we really want to document OpenShift Online v2? The Enterprise Product just entered EOL (https://access.redhat.com/support/policy/updates/openshift) so I can only assume that its only a matter of time before OpenShift Online v2 is replaced by OpenShift Online v3.

That said it might be simpler just to link to something like: https://access.redhat.com/documentation/en-US/OpenShift_Ente

[2017-01-06 02:39] sferich888 commented on #18
http://www.projectatomic.io/docs/nulecule/ provides a lot of what you need to get started, with nelecule, as well as https://github.com/projectatomic/nulecule/blob/master/docs/getting-started.md how/what is the best way to handle content that can/should be referenced from other locations/?

[2017-01-09 14:36] pvalena opened #176 "Update `Ruby installation` subsection for F26 [on time]"
https://developer.fedoraproject.org/tech/languages/ruby/ruby-installation.html

[2017-02-07 08:46] phracek commented on #18
@sferich888 Yeah, we can use references, but basically some intro and even how to install it on Fedora would be useful. No complicated things.

[2017-02-07 08:46] phracek commented on #21
@sferich888 No, use only OpenShift Online v3.

[2017-02-07 09:49] rhcarvalho opened #180 "Update or expand how to configure Docker without typing password"
From https://github.com/developer-portal/content/pull/173#discussion_r94889059

- Update the instructions in the Docker page and/or add the [alternative from Project Atomic's blog](http://www.projectatomic.io/blog/2015/08/why-we-dont-let-non-root-users-run-docker-in-centos-fedora-or-rhel/).
- Update other references to it in the portal (e.g. OpenShift page)

[2017-02-28 13:31] #21 closed

[2017-02-28 19:54] pvalena opened #182 "OpenShift needs a proper description."
Currently contains 'OpenShift'.

[2017-02-28 20:04] pvalena opened #183 "Unify PATH appends in respective instructions"
f.e.:
[code]

This should IMO not be included in `~/.bashrc` at all. I believe the proper place is `~/.profile` or `~/.bash_profile` or `/etc/profile`.

Quite good explanation can be found [here](http://superuser.com/a/183980).

[2017-03-06 13:27] pvalena commented on #183
Please also see [https://github.com/developer-portal/content/pull/169].

[2017-03-11 13:29] rhcarvalho opened #184 "Fix unclickable link"
Turn URL into proper link in:

http://developer.fedorainfracloud.org/deployment/openshift/about.html#online-developer-preview

[2017-03-16 10:52] hroncok opened #185 "Mention ampy in the MicroPython article"
Here: https://developer.fedoraproject.org/tech/languages/python/micropython.html

I've just packaged ampy, a command line tool that allows uploading code to MicroPython devices over serial. I want to add it to that text.

Opening this issue to track it. I will work on it.

[2017-04-06 15:52] pvalena opened #190 "images/ folder does not make it to built website"
https://developer.fedoraproject.org/start/sw/web-app/apache.html
 - AFAIK the screenshot was never present

This works for micropython[1], which does not use `images/` folder.

[1] https://developer.fedoraproject.org/tech/languages/python/micropython.html

[2017-04-08 21:54] mmhyamin commented on #22
Please add a blank page for NGINX HTTP Server.

[2017-04-14 11:02] hroncok opened #193 "Add Jupyter Notebook to Scientific Python Stack"
Here: https://developer.fedoraproject.org/tech/languages/python/scipy.html

Jupyter Notebook was added to Fedora 26. Let's mention it. (I can work on it later, this is mostly a note to myself.)

[2017-04-24 11:29] pvalena opened #194 "Remove `devassistant`"
As it is no longer maintained and will be obsoleted in Fedora.

@hroncok WDYT?

[2017-04-24 14:36] hroncok commented on #194
Sure. Kill it with fire.

[2017-05-02 14:08] pvalena commented on #194
`start/sw/mobile-app/mobile-installation.md`

and

`tech/languages/java/java-build-tools-installation.md`

need to be updated to reflect devassistant deletion.

[2017-05-05 12:11] #194 closed

[2017-05-05 14:23] stratakis opened #196 "DevAssistant project is dead"
The DevAssistant project is not maintained anymore upstream and is being retired from F26+ [0].

Would it make sense for the developer-portal to just remove all the references and content related to DevAssistant?

[0] https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/4EYPY4OB73FMBAVXKFHDZNR37ZWCU762/

[2017-05-05 14:33] pvalena commented on #196
It is already removed. Please see https://github.com/developer-portal/content/commit/089f77282b7a8631b1fd32619de318ce08cf83d0

You can see the result [here](http://developer.fedorainfracloud.org/tools/devassistant/about.html).

You are welcome to open a PR in case you want to replace the remaining references with something meaningful.

Thanks!

[2017-05-05 14:33] #196 closed

[2017-05-05 14:42] stratakis commented on #196
I see, should have checked the closed issues. Thanks!

[2017-05-11 09:26] pvalena opened #199 "Acceptance checklist for PR #197"
- [ ] correct image paths
- [ ] standalone section
- [ ] split to subsections
- [ ] fast-forward-able on master
- [ ] commit message reflects commit content
- [ ] unnecessary commits squashed
- [ ] jekyll header
- [x] copyright not included
- [ ] developer-friendly content

Information in detail can be found in [PRs discussion](https://github.com/developer-portal/content/pull/197#issuecomment-3004

[2017-06-10 19:55] yotamN opened #204 "laravel reference composer installation method"
Fedora have composer in the repo but the Laravel 5 page recommend to install composer by downloading a file from the internet with curl, is there a reason for it (maybe should explain why then)?

[2017-06-13 11:16] pvalena commented on #204
Please look into commit history(there can be some message), or contact author for explanation. Alternatively you can create a PR with a different solution.
We do not create this content ourselves. We rely on [contributions](http://developer-portal.github.io/contributing/) to Fedora Developer Portal, as it is a community effort.

Please contact us on #developer-portal @Freenode or on [our ML](https

[2017-06-13 11:18] #204 closed

[2017-06-21 05:25] techtonik opened #206 "Online content is not updated"
https://developer.fedoraproject.org/tools/docker/docker-installation.html
fixes for this page were landed in April and they are still not online.

[2017-06-22 15:06] pvalena commented on #206
I am sorry- I've lost track of time/date on that in hope to get some more content released, but to avail...

I'll release by Monday 26th. Please check [staging](https://developer.stg.fedoraproject.org/) for now.

[2017-06-22 15:53] techtonik commented on #206
Why it is not tested and pushed immediately after commit?

[2017-06-23 15:41] pvalena commented on #206
Because as of now, we have 3-stage release [proccess](https://github.com/developer-portal/website/blob/master/RELEASE.md). That involves manually checking the changes and announcing them on our ML(and possibly fedora-devel ML).

Feel free to contact me on #developer-portal @ Freenode with further questions.

[2017-06-23 15:45] #206 closed

[2017-07-05 16:10] techtonik commented on #206
What is the rationale for this process?

[2017-07-08 20:09] brennv commented on #193
I'm stoked this got added to Fedora 26. Drafted up PR #209, comments welcome.

[2017-07-11 13:42] pvalena commented on #206
This is mostly because of the build proccess and how the released website is hosted. There is also a plan to automate this in openshift, but I do not have time for this as of now.
Please use the contact above for further communication if you're insterested in this matter, as you'll get broader audience.

[2017-07-12 09:48] techtonik commented on #206
Lists are offline.
[code]
Is there a communication channel with lower participation entry than ML? Some web interface with OAuth/FAS login would be much better.

[2017-07-12 12:15] pvalena commented on #206
The ML works fine AFAIK. But I guess you have to subscribe first (FAS login there). Alternatively you can use the irc channel I've mentioned. There's few of us with very limited time, so no other communication channel is needed.

[2017-07-12 12:19] pvalena commented on #206
And the `lists.fedoraproject.org` has also feature to post mail directly from the webui([+new thread](https://lists.fedoraproject.org/archives/list/developer-portal@lists.fedoraproject.org/message/new) button).

[2017-07-13 09:25] techtonik commented on #206
Now I see the lists. Just that I always wanted. )

[2017-07-17 11:15] pvalena commented on #193
Closed via #209.

[2017-07-17 11:15] #193 closed

[2017-07-17 11:18] pvalena opened #213 "<img ...>s should respect page width"
[Example](https://developer.fedoraproject.org/tech/languages/python/scipy.html)

[2017-07-17 11:20] pvalena opened #214 "Fix C# subsection formatting"
-   do not use multiple `<h1>` (`# Header` is a page title)
 -   use about.md as a landing page
 -   do not repeat `C#` in description(shown as a tile in lang section)
 -   do not repeat `C#` in other page titles (as in `C# - IDEs`)
 -   Use `$ sudo command` instead of `# command`

[Examples](http://developer.fedorainfracloud.org/tech/languages/csharp/dotnet-installation.html)

[2017-07-17 11:21] pvalena commented on #214
@RheaAyase, PTAL.

[2017-07-17 17:13] RheaAyase commented on #214
I'm not sure what does that mean... this?

_description: "**C#** programming language, .NET Core and Mono open source frameworks."_

[2017-07-17 17:34] RheaAyase commented on #214
Reworded the above as well...

[2017-07-18 10:35] pvalena commented on #214
Yes.

[2017-07-19 14:55] pvalena commented on #214
Closed via #215.

[2017-07-19 14:55] #214 closed

[2017-07-19 15:02] pvalena opened #217 "Mono pages content needs fixes"
`.NET Framework API Reference`

does not seem to be fitting in [Mono page](https://developer.fedoraproject.org/tech/languages/csharp/mono-installation.html).

The page is additionally missing 'subtitle' or 'introduction', after which would follow current content with 'Mono installation' (current page Title). The page title should be just 'Mono', to for this to  correspond with the title in left me

[2017-07-19 15:03] pvalena commented on #217
@RheaAyase would you mind taking a look?

[2017-07-19 15:13] pvalena commented on #217
Note that `C# IDEs in Fedora`(and maybe some other pages too) suffer from the same `Page title not corresponding to left menu` issue. Maybe we could fix this somehow globally?

[2017-07-19 18:34] pvalena commented on #217
Ok, thanks! In that case I'd at least mention it so noone else gets confused :)

[2017-07-19 21:55] RheaAyase commented on #217
Yup, will see if we do communicate something with Mono SIG or.... or not :D

[2017-08-28 13:46] #199 closed

[2017-09-15 08:13] strzibny opened #222 "Rails start guide uses rbenv"
Just saw this page:
https://developer.fedoraproject.org/start/sw/web-app/rails.html

We should be linking this page:
https://developer.fedoraproject.org/tech/languages/ruby/ruby-installation.html

And not putting there rbenv:(

rbenv, chruby and others can be link for reference. There is no real reason of suggesting a version manager unless user needs it.

[2017-09-15 08:14] strzibny commented on #222
@pvalena did I missed something?

[2017-09-15 13:32] pvalena commented on #222
You are right. `dnf groupinstall @rubyonrails`, or similar, should be recommended instead.

Feel free to submit PR.

[2017-09-15 14:14] strzibny commented on #222
@pvalena I feel like the page is just a duplicate of the Ruby and RoR pages (https://developer.fedoraproject.org/tech/languages/ruby/ror-installation.html) I wrote before and don't want to copy paste it. Perhaps there could be links to:

- install Ruby
- install Ruby on Rails

and then only keeping the first basic commands to set it up. At least if rbenv is packaged or provided as Copr I would be

[2017-09-15 14:17] strzibny commented on #222
Would like to know some opinion of @voxik

[2017-09-15 14:59] pvalena commented on #222
Yes, that all seems the way to go.
I did not mean duplicating the content, but using a reference, like the ones you wrote, instead.

[2017-10-11 08:00] tpokorra commented on #217
I am sorry for responding so late.

I have fixed the titles and subtitles.

About ".NET Framework API Reference": that does actually make sense IMHO. @RheaAyase has added that section, and it corresponds with the section "API Reference" on the page https://github.com/developer-portal/content/blob/master/tech/languages/csharp/dotnet-installation.md

[2017-10-12 18:03] pvalena commented on #217
No worries :)

Well, in that case I'd mention (in `Documentation`) that the docs also apply to Mono \w minor differencies, as @RheaAyase [said](https://github.com/developer-portal/content/issues/217#issuecomment-316474447). That is IMHO not something one expects.

I'd also prefer linking the [docs](http://developer.fedorainfracloud.org/tech/languages/csharp/mono-installation.html#net-framework-api

[2017-10-20 15:18] tpokorra commented on #217
I have tried to improve the section for the API documentation, saying that the Microsoft API documentation applies to Mono with minor differences.

I have no idea what you mean with "I'd also prefer linking the docs, rather than duplicating content." Are you refering to duplicate content between the Mono and Dotnet pages? But they are linking to completely different APIs?

[2017-10-20 15:19] tpokorra commented on #217
Perhaps my words "it corresponds with the section "API Reference" on the page ..." lead you to think it was the same. I meant, that both pages have the same structure, but did not say that the content was the same.

[2017-10-23 10:55] pvalena commented on #217
Thanks for straightening this up for me!

[2017-10-24 19:19] pvalena opened #230 "Link VS Code installation guide directly?"
https://github.com/developer-portal/content/pull/229#discussion_r146664728

[2017-10-27 11:53] yashraj-Dhanuka commented on #222
I am a second year Engineering student . I want to contribute in this Organization.Any help given from mentors will be very helpful to me on how to contribute. i am a novice in this

[2017-10-30 13:47] pvalena commented on #222
@yashraj-Dhanuka, please check our [contributing guide](http://developer-portal.github.io/contributing/) and join our IRC channel #developer-portal on [Freenode](https://freenode.net/), as well as our [mailing list](https://lists.fedoraproject.org/admin/lists/developer-portal.lists.fedoraproject.org/).
Feel free to submit PRs for any issue you like and do not hesitate to ask if you encounter some

[2017-10-30 13:51] strzibny commented on #222
@yashraj-Dhanuka are you willing to do a PR for this very issue? If yes, you can start and I would be here to provide any help.

[2017-12-01 10:09] hroncok opened #233 "Python: Make sure pipenv is covered"
We should make sure that pipev is covered in our Python sections. Currently, I don't see it packaged for Fedora at all.

cc @frenzymadness @encukou @mcyprian @fedora-python

[2017-12-01 10:10] hroncok commented on #233
@pvalena Could you please assign me?

[2017-12-01 10:42] encukou commented on #233
Please coordinate with Michal, he was looking into this.

[2017-12-01 12:41] hroncok commented on #233
cc @mcyprian

[2017-12-01 14:32] pvalena commented on #230
@RheaAyase, PTAL.

[2017-12-01 14:40] mcyprian commented on #233
Pipenv is not packaged for Fedora. If we consider Python 3 only package [pew](https://github.com/berdario/pew) should be the only missing dependency. I have a concept of spec file for pew, but the test suite is broken. I can help with packaging and the workflow for Python section as well. I was looking into Pipenv features a couple of weeks ago.

[2017-12-20 14:27] yotamN opened #237 "move pages to proper subsections"
When there are a lot of pages on one subject it will be easier to find what you want with sub pages, for example in PHP there could be frameworks group with Symfony, Zend, CodeIgniter, Laravel etc.

Is it possible in the current template or does it require a change?

[2017-12-20 18:15] pvalena commented on #237
For reference: http://developer-portal.github.io/doc/structure.html

`Start a project > Web Application > Laravel ... `
and
`Tools > Web Server`
and
`Languages > PHP > Web Frameworks`

is what makes sense IMHO. Needs a bit of fixing though.

Thans for finding this!

[2018-01-06 12:21] ksvskushal opened #243 "GTK+ installation asking for package 'webkitgtk3-devel'"
https://developer.fedoraproject.org/tech/languages/c/gtk.html

In this web page, the  first command written has the package 'webkitgtk3-devel' as one of the requisites. But
[code]
gives the following output
[code]
Note: I've installed 'gtk3-devel' package instead of this and it worked.

[2018-01-22 21:11] pvalena opened #245 "Create pages for Flatpak"
AFAIK there're no pages concerning flatpak, installation, usage etc.

[2018-01-22 22:59] RheaAyase commented on #245
I've already poked our contributor who would like to look at this on Thursday, who said that he could look at it - @AxelSilverdew

[2018-01-23 00:39] pvalena commented on #245
Great! Thanks!

[2018-01-23 10:01] AxelSilverdew commented on #245
Hey, so I have the content for the flatpak page ready. Where do I put it? And what do I name the file?

[2018-01-23 15:36] pvalena commented on #245
Great. I think it fits to [Deployment and distribute](https://developer.fedoraproject.org/deployment.html) section(`deployment` folder). File can be called anything you thing is fine (it's transparent for website view); f.e. `about.md` or `usage.md`.
Please do not forget to add [jekyll headers](http://developer-portal.github.io/doc/file-structure.html).

[2018-01-23 15:38] pvalena commented on #245
Thus you should create a new [subsection](http://developer-portal.github.io/doc/structure.html), which also needs a icon [added](https://github.com/developer-portal/website/commit/94195317aed11652c81b0cc38df65f8f49d8509f) to website repository.

[2018-01-23 15:39] pvalena commented on #245
@AxelSilverdew, thanks!

[2018-01-23 18:56] AxelSilverdew commented on #245
@pvalena I submitted 2 PRs:

PR for [the flatpak logo](https://github.com/developer-portal/website/pull/58)
PR for [the flatpak subsection](https://github.com/developer-portal/content/pull/246)

[2018-01-23 19:32] AxelSilverdew commented on #245
@pvalena

I added an `about.md` for flatpak in `deployment/flatpak/`
I also submitted a [PR](https://github.com/developer-portal/website/pull/59) to add the Flatpak icon to the website repository.

[2018-01-24 14:19] pvalena commented on #245
Thanks!
Will be closed via https://github.com/developer-portal/content/pull/247.

[2018-01-24 14:19] #245 closed

[2018-01-25 21:42] pvalena opened #248 "PHP Frameworks lack content"
Add at least documentation link and some short sentence what's it for.

http://developer.fedorainfracloud.org/start/sw/web-app/php-zend.html

http://developer.fedorainfracloud.org/start/sw/web-app/php-symfony.html

[2018-01-25 21:54] pvalena commented on #237
I think it should say
`Web Frameworks`
specifically.

http://developer.fedorainfracloud.org/tech/languages/php/php-frameworks.html

Also, no need to prefix the file with `php-` when it already is in php subsection.

[2018-02-02 13:17] pvalena commented on #237
I've just learned that we can set permalinks to the duplicated pages. F.e.:
[code]

[2018-02-09 23:08] leandroramos commented on #213
I have tried to fix it, but I couldn't figure out how to do it.

[2018-02-27 22:44] pvalena opened #255 "Several issues uncovered on sw-app/django page"
while reviewing PR:

https://github.com/developer-portal/content/pull/242
(see code comments)

[2018-03-21 17:48] pvalena opened #257 "deployment / copr-cli page needs update"
https://github.com/developer-portal/content/pull/256#issuecomment-370000486

[2018-03-28 19:45] hhorak opened #258 "RFE: AI and machine learning chapter"
I think it would be great to have a chapter about artificial intelligence and machine learning, basically how to install tools like TensorFlow etc.

[2018-03-29 12:05] #184 closed

[2018-05-14 17:10] mmhyamin opened #262 "Email exposed"
Rather than showing author email wouldn't it be best to show the GitHub profile address?

![oie_gisjaypatwwd](https://user-images.githubusercontent.com/5278142/40012236-df03dc24-57cb-11e8-849f-e4d27688f347.png)

[2018-05-21 11:00] pvalena commented on #257
_Footnote:_ [sample SRPM](https://pvalena.fedorapeople.org/gems/rubygem-hiredis-0.6.1-1.fc29.src.rpm)

[2018-07-07 09:29] yotamN commented on #237
@pvalena In web applications for example you could have HTTP servers, Static Site Generators and Web Frameworks as 3 subsections or probably sub subsections because  web applications is the sub section

[2018-07-09 14:12] rimolive opened #270 "Add a page inside Java section about Tomcat/JBoss installations"
It would be good have a special page dedicated to Tomcat/JBoss installations. Sometimes people get confused with how Tomcat is packaged in Fedora and must have additional instructions to install and configure.

[2018-07-27 05:41] RobTranquillo opened #272 "`docker compose` howto no longer works"
Disclaimer: I'am very new to fedora and docker. So mea culpa if i'am forget something important.

The howto [about Docker](https://developer.fedoraproject.org/tools/docker/compose.html) seems to can't find the package `python-django`.

`$ sudo docker build --tag=fedora-django Fedora-Dockerfiles/Django`

And i can't find the package manually using `$ sudo dnf search python-django\*`

But the packag

[2018-08-15 04:48] APakrohk opened #276 "Bug AMD GPL at 1080 resolution"
My laptops model is the Asus N551zu
The graphic model of this series is r9 m280x
[ASUS Web Page ](https://www.asus.com/Laptops/N551ZU/)

**neofetch**
![screenshot from 2018-08-15 09-01-58](https://user-images.githubusercontent.com/27810360/44131710-048e3eb2-a06a-11e8-96b7-6a01d1e3285e.png)

**sudo lshw -C display**
[code]
**has problem with the system in games and video capture**

[2018-08-15 08:55] pvalena commented on #276
In case you're referring to Fedora desktop issues I suggest you to file a bug on [Fedora's official bugzilla](https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora).

This Issue tracker is relevant only for [Fedora Developer Portal Website](https://developer.fedoraproject.org/).

[2018-08-15 08:55] #276 closed

[2018-08-21 10:57] pvalena commented on #272
This should actually be moved to `Websites` issues.

[2018-08-21 10:57] #272 closed

[2018-08-21 10:58] pvalena opened #535 "`docker compose` howto no longer works"
https://github.com/developer-portal/content/issues/272

The howto [about Docker](https://developer.fedoraproject.org/tools/docker/compose.html) seems to can't find the package `python-django`.

`$ sudo docker build --tag=fedora-django Fedora-Dockerfiles/Django`

And i can't find the package manually using `$ sudo dnf search python-django\*`

But the package [should be exist](http://rpms.famillecol

[2018-08-22 18:12] pvalena opened #278 "Fix rebase-helper snippet examples"
According to #271 there are still some issues with snippets, f.e.:

  - `fedpkg` isn't a legal argument to `--buildtool`. (The F28 `rebase-helper` says: "`ERROR: argument --buildtool: invalid choice: 'fedpkg' (choose from 'copr', 'koji', 'mock', 'rpmbuild')`".)

[2018-08-28 00:48] pvalena opened #281 "Check and polish nodejs page"
See comments in https://github.com/developer-portal/content/pull/269.

[2018-08-28 00:57] pvalena opened #282 "Refactor Cassandra page"
See https://github.com/developer-portal/content/pull/260.

[2018-08-28 17:14] hroncok commented on #233
pipenv is now packaged

[2018-08-28 17:16] hroncok opened #283 "Multiple Python interpreters: Mention Python 2.6 is not supported with tox"
Since tox 3, Python 2.6 is not supported. Instead of patching that back in like we did with virtualenv, we should just mention here that this works for 2.7+ only.

https://developer.fedoraproject.org/tech/languages/python/multiple-pythons.html

Section "Getting it and running it all with tox".

I'll change the text, but not now, this is a note for me not to forget.

[2018-08-28 17:16] hroncok commented on #283
(Assign me please.)

[2018-09-04 10:37] #283 closed

[2018-09-10 09:45] pvalena commented on #114
Closing for inactivity.

[2018-09-10 09:45] #114 closed

[2018-09-12 15:57] pvalena commented on #61
@encukou, @hroncok, @kasicka, @msehnout, WDYT?

[2018-09-25 21:42] hroncok opened #291 "Remove DevAssistant entirely"
So there is a page with DevAssisatnt at Developer Portal that says "DevAssistant is obsolete, use it for reference only"

I don't know what kind of reference is that supposed for, but maybe it's time to get rid fo that page entirely? Or at lest the big logo and link at https://developer.fedoraproject.org/tools.html

http://developer.fedoraproject.org/tools/devassistant/about.html

https://github.c

[2018-09-26 07:27] pvalena commented on #291
You're right.

[2018-09-26 07:29] pvalena commented on #291
Let's remove it from the tools page entry.

[2018-10-03 15:44] pvalena opened #293 "Multiple Pythons page is too long"
and needs splitting into multiple pages.
E.g.: `Multiple Pythons with Tox` page.

https://developer.fedoraproject.org/tech/languages/python/multiple-pythons.html

[2018-10-03 15:44] pvalena commented on #293
@hroncok, PTAL.

[2018-10-03 15:45] pvalena commented on #185
What's the status on this?

[2018-10-03 15:45] pvalena commented on #233
What's the status on this?

[2018-10-03 15:49] hroncok commented on #233
Needs content. Not sure if @mcyprian would still want to cover this. If not, I'll do it, but October is crazy for me, I can only get to this next month.

[2018-10-03 15:52] hroncok commented on #185
I forgot to do this. Sorry, will try to get back to it in couple weeks.

[2018-10-03 15:58] pvalena opened #294 "RPM page needs a refresh"
Also splitting into multiple pages would be nice.

https://developer.stg.fedoraproject.org/deployment/rpm/about.html

[2018-10-03 16:00] pvalena commented on #233
NP, thanks for status update.

[2018-10-03 16:00] pvalena commented on #185
NP, thanks for status update.

[2018-10-04 13:46] mcyprian commented on #233
I believe code snippets from magazine article https://fedoramagazine.org/install-pipenv-fedora/ can be reused here. I will try to find some time next week to make something up.

[2018-10-08 10:10] SMadani opened #295 "Change to Java 11"
Java 11 - the latest long-term support release of Java - was released on 25th September 2018. However the documentation still recommends installing the now 5 year-old Java 8. Perhaps this should be updated to 11, especially since the version naming has changed which may create confusion for people using this documentation.

[2018-10-11 12:36] pvalena commented on #295
Feel free to open Pull Request with the changes!

You can easily [edit](https://github.com/developer-portal/content/edit/master/tech/languages/java/java-installation.md) the page and make it version agnostic.

[2018-10-26 07:13] yotamN opened #299 "More general introduction in Start a project"
The start a project section is a bit too focused on specific technologies and languages. I suggest that we will have there general information about the available options and how to install them but other than that link to the page in another section (for example Python Django should be under Django) or the official website.
You can look at #298 for an example for what I mean.

[2018-12-13 12:33] pvalena commented on #237
That seems to be overcomplication to me...
One could simply have a page `HTTP servers` that has a hyperlink list to other pages.

Like here: http://developer.fedorainfracloud.org/tech/languages/php/php-frameworks.html

[2018-12-13 12:35] pvalena commented on #237
Feel free to submit a PR with any `cathegory` type of page you thing is missing.

[2018-12-13 14:02] yotamN commented on #237
The example you gave of `Languages > PHP > Web Frameworks` could stay the same but instead of a page that contains link it will be an expandable list in the sidebar. The content will remain the same, just a bit more organized

[2018-12-13 16:31] pvalena commented on #237
On top of that, you can actually prefix the page name in the pages list like so:
[code]

[2018-12-14 07:53] yotamN commented on #237
Level of complexity to the site development or the content? It's true that the site will need some work to support it but after the initial work I don't think it will be that much complexity to the content writers

[2018-12-14 14:48] pvalena commented on #299
Related: https://github.com/developer-portal/content/issues/237

[2019-01-26 08:18] hroncok opened #304 "MicroPython: Add ESP32"
(note for self)

Currently we only cover ESP8266. We should generalize it to make it work for ESP32 as well.
Make the instructions less detailed if needed, link to the official MicroPython docs.

[2019-03-07 16:59] whitel opened #306 "RFE: document how to set JAVA_HOME"
JAVA_HOME does not appear to be set by the rpm package installation of java-11-openjdk-devel. I can set it by hand but I think it would be great if the [java page](https://developer.fedoraproject.org/tech/languages/java/java-installation.html) could recommend the best way (in particular, accounting for the alternatives setup).

[2019-03-08 12:50] pvalena commented on #306
@SMadani, @msrb any ideas / notes here?
_ _ _

You mean something equivalent to what we have in Go page, right?

[code]
It would be good to be consisten with this across the all pages. IMO would be best to set ENVs in `.bash_profile` instead([corresponding issue](https://github.com/developer-portal/content/issues/183)).

[2019-03-08 12:59] SMadani commented on #306
I think the safest recommendation is as @pvalena suggests:

[code]
and if the user doesn't set alternatives, then the above should be java-11 instead of java.

[2019-03-31 12:38] hroncok opened #310 "Sphinx page will be outdated in Fedora 31"
https://developer.fedoraproject.org/tech/languages/python/sphinx.html

There is no more python2-sphinx https://fedoraproject.org/wiki/Changes/Sphinx2

Also, we should promote venvs, not DNF installing sphinx.

[2019-07-01 08:06] tmds opened #317 "Release is pending"
@pvalena it looks like https://github.com/developer-portal/content/pull/302 changes (merged 8 March) are not visible on https://developer.fedoraproject.org/tech/languages/dotnet/about.html?

The left hand menu should say '.NET Core' as the second item and link to a page named 'dotnetcore.html' (content from https://github.com/developer-portal/content/blob/master/tech/languages/dotnet/dotnetcore.md

[2019-07-01 09:37] pvalena commented on #317
You're right. The website is on manual release schedule and I did not get around to make a release... And noone else is around to do+review it :) .. If I do a [staging] build, will you be able to take a look on / review the changes?

[2019-07-09 13:44] RheaAyase commented on #317
@pvalena Hi, we can review our changes / pages, but I can't talk about the other PR's that were merged and will need reviewing... We could collect all the people who submitted these and ask them for review of the staging though! If you need some help with it please feel free to ping me =)

[2019-07-10 11:55] pvalena commented on #317
@RheaAyase, sure, I'll build it then for staging ASAP.

It's not about the content correctness though, as that has been reviewed already in the PR. It's just a "sanity" and "styling" check - whether the page is and "looks" ok; and changes are propagated correctly (the content is there).

That means there are two things to check:  **git diff** (master branch) and the resulting **generated page** (o

[2019-07-16 13:51] pvalena commented on #310
See #97 .

[2019-08-01 15:31] pvalena commented on #317
@tmds, @RheaAyase, et al.,
I've just prepared release on staging:

 -  https://developer.stg.fedoraproject.org/
 -  https://github.com/developer-portal/developer.fedoraproject.org/commit/81bfedbf0174273a402391a4e555b1b557688f7a

Please review, and **+1** here if you did find everything ok.
_ _ _ _

Specific links to files changed (some might've been deleted):
  https://developer.stg.fedoraproject.

[2019-08-01 20:03] tmds commented on #317
lgtm, thanks!

[2019-08-08 22:30] pvalena commented on #317
Lets merge it then.

[2019-08-17 13:26] pvalena commented on #317
I'll open a new issue for next release and link it here.
In the meantime, grab a pull request and review it!

[2019-08-17 13:26] #317 closed

[2019-09-05 14:02] puckrandi opened #322 "EU"
Cess

[2019-09-11 13:08] pvalena commented on #322
Do you mean https://en.wikipedia.org/wiki/Cess ?

I do not follow, sorry.

[2019-09-11 13:08] #322 closed

[2020-01-15 15:57] da-x opened #324 "Having more content regarding working on existing Fedora packages"
For developers outside the Fedora community doing systems integration, the process of patching existing packages for bugs/features seems quite foreign.

Recently I wrote [a blog post](https://blog.aloni.org/posts/how-to-easily-patch-fedora-packages/) about it.

It may be helpful to add similar content about it in official Fedora sites.

[2020-01-15 17:02] pvalena commented on #324
This is aimed at `https://developer.fedoraproject.org/` solely. If you find your content fits somewhere feel free to open a PR. Let me know If you get stuck somewhere, but please check our [contributing guide](http://developer-portal.github.io/contributing/) first.

_ _ _ _

Closing, as `having more content` is what we need in general :).

[2020-01-15 17:02] #324 closed

[2020-02-21 13:47] hhorak opened #330 "RFE: Add a quick start guide for R language"
R language is one of the stacks we have in Fedora (and epel), so it might make sense to have a page for this language. Although Python seems to be taken some part of the R market, according to articles like https://www.datanami.com/2019/08/15/is-python-strangling-r-to-death/. Still, R is quite popular in data science.

[2020-02-22 07:27] strzibny opened #331 "Link "Learn how to contribute" is broken"
The following link is not working anymore: http://developer-portal.github.io/contributing/

[2020-02-22 14:42] pvalena commented on #331
Are you sure? It works fine for me (check with in private window).
_ _ _ _
Also from commandline (different laptop):
[code]

[2020-02-23 05:31] strzibny commented on #331
@pvalena thanks for checking, just rechecked, and working now. Probably a temp issue, closing.

[2020-02-23 05:31] #331 closed

[2020-03-14 06:16] tpardeshi commented on #282
@pvalena I would like to contribute to this issue. It would be helpful if you become my mentor for my first contribution to fedora. Please let me know how can I help.

[2020-03-16 11:52] pvalena commented on #282
Hello @tpardeshi, are you familiar with Markdown and/or Cassandra usage?

Please also check our [Contributing guide](https://developer-portal.github.io/contributing/). I'm available on IRC if you have more questions.

[2020-03-17 11:06] tpardeshi commented on #282
@pvalena Yes I am familiar with Cassandra. Not so hands-on but yes I can contribute to documentation.

[2020-03-18 13:43] pvalena commented on #282
Have you checked the documentation. Have you found it straghtforward? You can also check other pages (and their source) to know where to begin.

If you're not familiar with git, and working on commandline, it's completely fine to simply create the page using github editing tools. Please create a Pull Request, and ping me on irc in case you have some questions. When you create the PR, I'll be able

[2020-05-06 01:08] phillipsj opened #338 ".NET Core page has a link that results in a 404."
The .NET Core page references the official getting started guide which results in a 404. The page has moved to a new location and a redirect doesn't exist.

[2020-05-07 10:55] #338 closed

[2020-05-22 11:30] tpardeshi commented on #282
Hi @pvalena Sorry for late response. I have created a [PR](https://github.com/developer-portal/content/pull/342) for this issue. Please review. Thanks.

[2020-07-02 12:22] RheaAyase opened #346 "MongoDB is no longer available in Fedora"
$subject https://developer.fedoraproject.org/tech/database/mongodb/about.html

cc: @danielamorais @kennethkau @luiscontrerasdo @sergushakov

[2020-08-05 12:00] pvalena opened #347 "Remove Gradle"
it's orphaned.

https://bugzilla.redhat.com/show_bug.cgi?id=1657836

_Originally posted by @shoeper in https://github.com/developer-portal/content/pull/329#issuecomment-587478989_

[2020-08-18 10:42] sanjayankur31 opened #349 "Migrate content to docs/quick-docs"
Hi there,

Given that docs is now up and running, should the dev portal just be merged into them?

https://docs.fedoraproject.org/en-US/docs/

That way there's one place for users to find documentation, and all of docs can be translated etc too. A lot of the material on here seems like it'd fit right in with quick-docs for example:

https://docs.fedoraproject.org/en-US/quick-docs/

[2020-11-04 16:00] girish946 commented on #233
I would like to take up this issue.
I'm only confused about where should it be, under `tech/languages/python/pipenv.md` or `tools/pipenv/`?
Can someone help?

[2020-11-04 16:01] hroncok commented on #233
I'd put it to `tech/languages/python/`.

[2020-11-10 04:59] tpokorra opened #354 "dotnet and csharp confusion with outdated pages compared to this repository"
From the start page, https://developer.fedoraproject.org/tech.html, there is still a link to
https://developer.fedoraproject.org/tech/languages/csharp/dotnet-installation.html, which I cannot find in this repository.
That page shows outdated content, with broken links, and not telling about dotnet-core in Fedora 32.

I would expect to see https://github.com/developer-portal/content/blob/master/tec

[2020-11-10 10:48] pvalena commented on #354
Yes, you're right. Rebuild is needed. See https://github.com/developer-portal/website/pull/104#issuecomment-662195033.

[2020-11-19 14:26] #233 closed

[2020-12-09 12:22] girish946 commented on #304
Is anyone working on issue this at the moment?
If not I would like to contribute.

[2021-01-12 13:10] #349 closed

[2021-03-03 19:29] pwright opened #364 "groovy instructions"
https://github.com/developer-portal/content/blob/master/tech/languages/groovy/groovy-installation.md didn't work for me, not sure if fedora packages groovy at all?

[2021-03-03 20:27] pvalena commented on #364
Hello, thanks for the issue.

I can confirm groovy was removed from Fedora:
https://src.fedoraproject.org/rpms/groovy

[2021-04-06 20:05] vonbrand opened #370 "Nonsense"

[2021-04-07 00:26] pvalena commented on #370
Hello,

yes, the command is probably outdated. Thanks for pointing it out!

[2021-04-12 23:29] hroncok opened #372 "Undocument Jython"
See https://github.com/fedora-python/fedoralovespython.org/pull/57 and https://lists.fedoraproject.org/archives/list/users@lists.fedoraproject.org/thread/GCZL4Y63RPCSIHGX2KEJC5WRGTOKZVKS/

Feel free to assign me.

[2021-04-13 00:13] pvalena commented on #354
Rebuilt.

[2021-04-13 00:13] #354 closed

[2021-04-13 08:02] Enchufa2 commented on #330
I can contribute to this. I contribute as a packager (FAS: iucar) mainly for the R stack, and I maintain an info page (see [Pagure repo](https://pagure.io/R/fedora-r-packages)) that is published on the [R project website](https://cran.r-project.org/bin/linux/fedora/). We could take that content and adapt it for the Developer Portal.

[2021-04-13 12:20] pvalena commented on #330
@Enchufa2 thanks!
Check our contribution guide: https://developer-portal.github.io/contributing/

Also, there's a easy way now to test the content, with updated Docker: https://github.com/developer-portal/website/blob/master/DEVELOPMENT.md

[2021-04-15 14:06] pvalena opened #377 "Git quickstart"
I've noticed we're missing a git quickstart.

I've drafted some in:

https://github.com/developer-portal/website/blob/master/DEVELOPMENT.md

(Where we probably need one, or link to a one.)

[2021-04-15 14:07] pvalena commented on #377
@hhorak WDYT?

[2021-04-15 14:31] hhorak commented on #377
It might be useful for less technical people, so why not. I think the user in the clone command might be also replaced (currently `pvalena` is mentioned there): https://github.com/developer-portal/website/blame/master/DEVELOPMENT.md#L87
Otherwise LGTM

[2021-04-15 17:07] pvalena commented on #377
Good catch- that's a mistake.

Thanks for checking

[2021-04-15 23:57] pvalena commented on #377
I'll take a look at it then, which section do you think it should go to? `Get Tools` or `Deploy and Distribute` ? :)

[2021-04-15 23:58] pvalena commented on #377
@jackorp WDYT?

[2021-04-16 07:43] jackorp commented on #377
I'd say it belongs to the `Get Tools` section as Git is a versioning tool and it would IMHO look out of place in between Openshift RPM and Flatpak and whatnot.

[2021-04-16 11:10] pvalena commented on #377
You're right, it's not much of a deploy/distribution tool, outside of source code :). `Tools it is`. And the guide itself? Would you add something? Can you try it?

[2021-04-16 11:12] pvalena commented on #377
The `quay.io` container builds are working! https://quay.io/repository/developer-portal/devel?tab=builds

[2021-04-16 13:20] jackorp commented on #377
I'll try it later this weekend.

However, from a glance, I don't see setting a name or email? If someone is new to git they probably don't know this needs to be done.

I am also missing adding and committing changes.

[2021-04-18 17:14] gombosg commented on #291
This is still on the "tools" front page on the new portal.

[2021-04-19 14:09] pvalena commented on #377
You're right, ... I'd assume people know that, but then again, it would be a bad guide :). I'll add something like that, and create a PR. Thanks!

[2021-04-19 14:22] pvalena commented on #291
@gombosg well, looks like I didn't get around to it... PR's are welcome!

[2021-04-19 17:17] gombosg commented on #291
OK, will do

[2021-05-31 16:48] #330 closed

[2021-05-31 16:54] #291 closed

[2021-06-02 10:18] pvalena opened #382 "Clean up outdated issues"
@jackorp could you take a look at the issues here?

  - either do a quick-fix
  - or tag with 'help wanted'
  - or close them if they're resolved

[2021-06-08 12:12] jackorp opened #383 "r-ide page: rstudio.png is too large"
The newly added R language page `r-ide` contains an image `rstudio.png`.

The image is too big and it stretches out the site forcing user to scroll sideways to see the full image

My proposed solution is to add the image downscaled to more acceptable proportions, and maybe encase the image in a clickable link so the full size is available, like so: `[![RStudio Desktop](/content/tech/languages/r/rs

[2021-06-08 12:33] jackorp commented on #383
Introduced by [PR#374](https://github.com/developer-portal/content/pull/374)

[2021-06-08 12:36] pvalena commented on #383
@Enchufa2 probably not what you had in mind :) can you post a fix (resized image)?

https://developer.stg.fedoraproject.org/tech/languages/r/r-ide.html

[2021-06-08 13:59] Enchufa2 commented on #383
A quick solution would be to add `width="100%"` to the `img` tag, but I'm not sure if this can be done via Markdown.

[2021-06-08 14:01] Enchufa2 commented on #383
In fact, if we don't do that, the downscaled image will work only for the full resolution. See e.g. the image in [here](https://developer.stg.fedoraproject.org/tech/languages/python/scipy.html), resize the browser window and see what happens.

[2021-06-08 16:10] pvalena commented on #383
Firstly, that is correct, and I like it - if you can, please submit a PR. But please note that it has to be set only in for the proper content / not site-wide settting. Please also test it prior to submission.

I think addressing this in Markdown would be suboptimal. In any case, having some smaller width (image) also helps with better loading times = better user experience.

In case some larger i

[2021-06-10 13:42] pvalena opened #384 "Switch to another %{links} notation for `start/sw/web-app/about.md`"
Container build breaks, locally. The simplest solution would be to switch to another %{links} notation which does not suffer these reference issues.

Relevant commit: 1447b716c9cdf2417918cbf0b8566b665d22fd93

[2021-06-10 13:44] pvalena commented on #384
Created from: https://github.com/developer-portal/website/issues/88#issuecomment-851600799

[2021-06-17 14:22] jackorp commented on #34
Current Contribution guidelines reside here: https://developer-portal.github.io/.

Feel free to reopen this issue if further work is needed.

[2021-06-17 14:22] #34 closed

[2021-06-17 14:27] jackorp commented on #72
Fixed in: https://developer.fedoraproject.org/tools/vagrant/vagrant-atlas.html.

[2021-06-17 14:27] #72 closed

[2021-06-17 14:28] jackorp commented on #78
Fixed with #122 .

[2021-06-17 14:28] #78 closed

[2021-06-17 14:43] jackorp commented on #82
We currently have https://developer.fedoraproject.org/start/sw/web-app/about.html for web applications, so it can be created as an entry there.

However, we probably don't want it in that great a detail here. A simple installation and setup so one can get it running locally and then a link to an entry in the [new Fedora documentation](https://docs.fedoraproject.org/en-US/docs/) would be enough.

[2021-06-17 14:45] jackorp commented on #89
Links seem proper enough as of now, closing.

[2021-06-17 14:45] #89 closed

[2021-06-17 15:02] jackorp commented on #103
We currently have the "Edit this page" button, which leads to web editor on GitHub, and "Learn to contribute" on unfinished pages and on the bottom, both leading to the "How to contribute" [site](https://developer-portal.github.io/contributing/).

However, I find it useful adding something like `Report an issue` to content, as sometimes there are things users don't necessarily want to fix themselv

[2021-06-17 15:11] jackorp commented on #120
As [current Fedora documentation](https://docs.fedoraproject.org/en-US/quick-docs/creating-rpm-packages/) recommends only `fedora-packager` and `fedora-review` packages this update is no longer needed.

[2021-06-17 15:11] #120 closed

[2021-06-17 15:22] jackorp commented on #128
Closing as #140 was merged.

[2021-06-17 15:22] #128 closed

[2021-06-17 15:27] jackorp commented on #131
There is a question on how to implement this. A `lang` attribute can be added in the yaml headers of the markdown files to help define what language the content is. I found a post for inspiration: https://sylvaindurand.org/making-jekyll-multilingual/.

[2021-06-17 15:30] pvalena commented on #131
Best-effort, and quick (but I think it really works great)  solution would be to put this link somewhere:

https://translate.google.com/translate?hl=en&sl=en&tl=en&u=https%3A%2F%2Fdeveloper.fedoraproject.org%2F

[2021-06-17 15:33] pvalena commented on #103
Yes, that input would be really useful. Let's do that.

[2021-06-17 17:11] strzibny commented on #131
@pvalena I like the idea. Mostly because maintaining full translations for this site would be extremely difficult, and they would quickly go EOL. I think translations make sense when things almost "done."

[2021-06-23 16:27] jackorp commented on #176
Note: not sure what was supposed to be updated, but from what I see right now, there are sections on installing JRuby which are not provided in Fedora since

[2021-06-23 17:29] jackorp commented on #213
JFTR: Some possible solutions were discussed here: #383

[2021-06-23 17:32] jackorp commented on #217
Looks like the core issue was solved. Closing the issue.

[2021-06-23 17:32] #217 closed

[2021-06-23 17:46] jackorp opened #386 "Deduplicate content"
Some languages have duplicate pages on topic that is already present, e.g.:

Python Django framework is present under both languages and web app sections:
https://developer.fedoraproject.org/tech/languages/python/django-installation.html
https://developer.fedoraproject.org/start/sw/web-app/django.html

There might be more examples.

Such duplicate content should be merged into a single page and th

[2021-06-23 17:47] jackorp commented on #237
Created new issue regarding this: #386

[2021-06-23 17:47] #237 closed

[2021-07-13 10:43] #383 closed

[2021-07-13 10:45] #103 closed

[2021-07-13 11:21] jackorp commented on #213
Fixed with merging developer-portal/website#118 .

[2021-07-13 11:21] #213 closed

[2021-07-14 19:42] JKomoroski opened #388 "Cassandra Page Out Of Date Removal"
As far as I can tell, the `cassandra` and `cassandra-server` packages are no longer in fedora. This page seems out of date and misleading.

[content/tech/database/cassandra/about.md]()

Am I missing a prerequisite step to installing the dnf package? Dnf output:

[code]

[2021-07-28 04:57] t0xic0der opened #392 "Guide about QEMU, KVM and Libvirt"
I have been writing myself some reference documentation here and I think this information can be used by other folks at Fedora as well https://gist.github.com/t0xic0der/efa2f9acf8da3e92772dc6c69d439c22.

[2021-07-31 07:33] pvalena commented on #392
Hello, that sounds great! Could you open a PR with all the files? We can polish it for you. You'd also get your name in the authors section of the respective pages.

[2021-07-31 07:37] pvalena commented on #392
In case you'd like to know more about how to contribute to Fedora Developer Portal:
https://developer-portal.github.io/contributing/
Or how does it work:
https://developer-portal.github.io/doc/structure.html

[2021-07-31 07:43] pvalena commented on #392
Would be great fit for our [Deployment section](https://developer.fedoraproject.org/deployment.html).

https://github.com/developer-portal/content/tree/master/deployment

Maybe a `Virtualization` subsection?

[2021-08-01 16:45] t0xic0der commented on #392
Sounds good. I'm working on the draft to make it correspond a bit more towards Fedora on the gist that I linked to in the ticket body. I would be making a PR pretty soon once we're through the NEST 2021 but I might need some assistance in linking one guide into other to keep things modular.

[2021-08-02 15:45] pvalena commented on #392
Great!

I'll be glad to help with any PR fixes - I think I can even push into your branch (with my commits), if you leave the corresponding box checked.

_ _ _ _
But really, I think there's nothing to it.

To create a page, you add the md file, with header. To order it, within the subsection, you use `order: N` ([example](
https://github.com/developer-portal/content/pull/393/files#diff-e38fe6faf6c

[2021-08-03 01:40] t0xic0der commented on #392
It doesn't fit very well with the deployment section. I could of course add it to the `Tools` section but I think that we'd be better off creating a separate `Virtualization` section for this documentation.What do you think?

[2021-09-01 22:24] jackorp commented on #388
Hmm, the package seems retired for a few releases already, the current lines about installation should be replaced with some other approach as well as the `Language connectors/adapters/drivers (packages)` section. Other parts seem look good to me.

[2021-09-02 08:32] jackorp commented on #392
It would make sense to add it to `Tools` as there already are tools like docker and vagrant, so when I browse the website I'd expect it there.

[2021-10-01 00:27] Whatgraph opened #397 "##"
###

[2021-10-02 08:24] mscherer opened #398 ": docker docker-images.md"
This page still refer to a project atomic article. We shut down the website 6 month ago, so the content is gone. I can revive the website if needed (I just removed the route on openshift in case someone complained about the removal), or the content can be copied somewhere else.

[2021-10-10 00:31] Whatgraph opened #399 "#"
##

###

[2021-10-23 04:02] Whatgraph opened #400 ".cc"
[code]

[2021-10-27 03:12] hendridg opened #401 ": ruby ror-installation.md"
I make all steps, and the end when I put

return this error
Could not find gem 'puma (~> 5.0)' in rubygems repository https://rubygems.org/ or
installed locally.
The source contains the following versions of 'puma': 4.3.6

I check my version of puma and:

[hendrid@fedora app3]$ puma --version
puma version 5.5.2

I don't understand what happened.

To make an app I have to do this:

[hendrid@fedora

[2021-10-31 10:25] tuupola opened #402 "Vagrant with libvirt and static ip addresses"
The instructions at page [Vagrant with libvirt support installation](https://developer.fedoraproject.org/tools/vagrant/vagrant-libvirt.html) will not work if using distro installed `vagrant-libvirt` and static ip addresses. Problem can be fixed by telling `vagrant-libvirt`  to use `qemu:///system` instead of `qemu:///session` as the connection.

[code]

Tested with fresh install of Fedora 34 (Work

[2021-11-05 08:42] #392 closed

[2021-11-06 13:21] Whatgraph opened #404 ".bitmap"
[code]

[2021-11-06 18:23] jackorp commented on #404
Please stop spamming the issues, thanks.

[2021-11-06 18:23] #404 closed

[2021-11-06 18:23] #400 closed

[2021-11-06 18:23] #399 closed

[2021-11-06 18:23] #397 closed

[2021-11-10 06:11] Whatgraph opened #405 "Html5files"

[2021-11-10 08:37] #405 closed

[2021-11-12 11:52] pvalena commented on #398
Thanks for the report!

Any chance to get the content from the link? Maybe it can live here (as a separate page).

[2021-11-12 11:56] pvalena commented on #401
Bundler by default does not use your locally installed dependencies, but rather "bundles" them in a separate directory. `--local` prevents that (no downloading from internet).

There may be an issue in Fedora let me reproduce that! (I'm a Fedora RoR maintainer).

[2021-11-12 11:58] pvalena commented on #402
Hello, thanks for the report!

Yes, you're right, at this point there's no support for that, but hopefully it will be fixed soon.
https://fedoraproject.org/wiki/Changes/Vagrant_2.2_with_QEMU_Session

Let's add a note into the guide for now.

[2021-11-12 14:13] mscherer commented on #398
The project atomic website got revived and now live on github, so I guess the content is back and this can be closed.

[2021-12-24 03:47] leonardon397 opened #407 ": dotnet dotnet-ide.md"
When trying to install eclipse, I followed all the steps presented and even so I got the following message printed on my terminal below (it's in Portuguese):
[code]

Translating to english, it means
[code]

Please what should I do to resolve this issue?

[2021-12-24 03:49] leonardon397 commented on #407
Important info: I forgot to mention that, I am a Fedora 35 user, at the time I opened this issue.

[2021-12-24 10:26] jackorp commented on #407
Thanks for the report!

Hmm... it seems eclipse has been orphaned for some time[1], this will require a content update.

Alternatively, I was able to install eclipse and access the marketplace through the flatpak version.

[code]

[1] https://src.fedoraproject.org/rpms/eclipse/blob/rawhide/f/dead.package

[2021-12-28 13:31] leonardon397 commented on #407
OK, I'm going to install from flatpak, until the problem is resolved!

[2021-12-28 14:39] tahmid56 opened #412 "Request for making a directory "Dart" in the tech/language"
Flutter is framework for building cross platform application. The only language used in flutter framework to build cross platform app is Dart. So please add a directory in the tech/language named Dart. I have a little bit idea about how to get started with flutter. I can contribute. Thanks

[2021-12-30 08:25] erkkiruohtula opened #413 "tools: eclipse about.md"
The "eclipse" package does not seem to be available any more, so this page is  obsolete.
fedora:.../~$ sudo dnf install eclipse
[sudo] password for ruohtula:
Last metadata expiration check: 0:01:47 ago on Thu 30 Dec 2021 10:21:41 EET.
No match for argument: eclipse
Error: Unable to find a match: eclipse

[2021-12-30 22:26] jackorp commented on #413
We are aware of this problem, a fix is TBD.
A workaround is installing the Eclipse IDE from flatpak as outlined here: https://github.com/developer-portal/content/issues/407#issuecomment-1000775511

I will close this issue once a fix is committed to the repository.

[2021-12-30 22:32] jackorp commented on #412
Hi, thanks for contributing.

Git does not store directories with no content. Instead, first create a directory locally, then create a file (with content), and then commit the file.
Like so:
[code]

[2021-12-30 22:32] #412 closed

[2022-01-18 03:44] pvalena commented on #401
I've investigated, and found out that the issue is. It is caused by restriction in the Gemfile.
[code]
When on system:
[code]

We do not modify the default app, or the dependencies. This needs to be adjusted per-app basis. Please note that this is not the only dependency that's diverged from upstream[*].

Unfortunately, in Fedora, there's still older Puma (but I'm working on `puma` update for Fedo

[2022-01-18 03:48] pvalena commented on #401
To conclude, it's quite easy to `bundle --local` the app, with few modifications to the gemfile (mostly commenting out useless dependencies):
https://gist.github.com/dac638543855de02ee3b59fec192e4bb

[2022-01-18 03:48] #401 closed

[2022-01-18 03:49] pvalena commented on #401
@jackorp Feel free to modify the RoR page if you think there's missing something, based on this Issue. I can't see what's there to enhance, as we don't want to document per-rails version dependencies.

[2022-01-26 04:40] archijaiswal commented on #386
Can I be assigned this issue?

[2022-01-26 11:51] jackorp commented on #386
Sure!

Just a note, you can submit a PR with this issue linked, you don't have to be assigned to work on it.

[2022-02-16 22:37] GEPLinux opened #417 "start-hw: arduino about.md"
Describe the problem
**Not allowed to connect to the Arduino boards**
Except if :+1:
**su -c ' usermod -a -G dialout,lock,uucp <UserName> ; reboot; ' ;**

[2022-02-22 02:48] basking2 opened #420 "Powerful, optionally typed and dynamic language with static compilation capabilities on JVM.: groovy groovy-installation.md"
This does not work on current Fedora systems:

[code]

and

[code]

[2022-02-26 11:02] jackorp opened #421 "Groovy page needs update or removal."
Groovy is not in Fedora for some time now.

However, there is still a groovy page referencing `dnf install groovy` which is just not possible.

The page will either need new content that provides functional steps or be replaced with a page that explains the removal from Fedora or remove the page entirely.

@pvalena thoughts?

[2022-02-26 11:02] jackorp commented on #364
Closed in favor of tracking issue developer-portal/content#421.

[2022-02-26 11:02] #364 closed

[2022-02-26 11:03] jackorp commented on #421
Moreover, the page uses incorrect yml headers.

https://github.com/developer-portal/content/blob/master/tech/languages/groovy/groovy-installation.md

[2022-03-19 14:32] GEPLinux commented on #417
su -c ' dnf -y install snapd; ln -s /var/lib/snapd/snap /snap; snap install arduino; usermod -a -G dialout,lock,uucp ; reboot; ' ;

[2022-03-21 15:00] pvalena commented on #417
https://src.fedoraproject.org/rpms/arduino

[2022-04-05 20:53] jackorp opened #424 "FastAPI content enhancement"
From Ben Beasley on Fedora Devel list:

[code]

[2022-04-07 08:27] #424 closed

[2022-04-22 23:27] CorruptComputer opened #426 "tech-database: mongodb about.md"
The instructions on this page are wrong: https://developer.fedoraproject.org/tech/database/mongodb/about.html

On default Fedora 35 installation the following errors are shown when trying to install this with the shown commands:
[code]

[2022-04-24 21:30] pvalena opened #427 ".Net IDEs : dotnet-ide.md"
Link does not work:

https://developer.fedoraproject.org/deployment/Flatpak/about.html

[2022-04-28 07:39] Louis9902 opened #428 "tools: eclipse about.md"
I think eclipse is not in the repos anymore, since I'm not able to install it anymore. I'm current on fedora 35.

[2022-05-02 10:57] jackorp commented on #428
Hi, thanks for the report, the eclipse packages were retired in Fedora 35 and the pages did not receive the required love they need. I am working on replacing the references with references to the eclipse flatpak package.

[2022-05-02 16:11] #413 closed

[2022-05-02 16:11] #428 closed

[2022-05-02 16:20] #407 closed

[2022-05-02 16:20] #427 closed

[2022-05-02 16:20] #417 closed

[2022-05-02 18:04] Louis9902 commented on #428
Thank you and sorry for the duplicate, I didn't check before reporting it.

[2022-05-09 10:43] david-kariuki opened #433 "Do you need help revamping your github page?"
Check my profile, as an example. [David Kariuki - Github](https://github.com/david-kariuki)

[2022-05-09 10:44] david-kariuki commented on #433
You could include more links in a neater way, release info in tables etc.

[2022-05-09 11:05] #433 closed

[2022-05-11 15:52] jackorp commented on #426
Unfortunately, this is a known issue: https://github.com/developer-portal/content/issues/346

I am not sure if we should remove the page completely considering that MongoDB was removed due to the new licensing or point it to upstream documentation on this.

[2022-05-12 13:43] jackorp opened #435 "Java: replace java-devel with java-openjdk-devel"
This is a reminder issue for a future update to replace `sudo dnf install java-devel` with `sudo dnf install java-openjdk-devel` when it will become possible.

Java devel virtual package should be installable through `sudo dnf install java-openjdk-devel`, but that is not currently possible, so `java-devel` package is used instead.

Filed in Fedora as https://bugzilla.redhat.com/show_bug.cgi?id=208

[2022-05-15 01:19] zad999 commented on #435
i get this error when i run my code :
Exception in thread "main" java.lang.IllegalArgumentException: Illegal base64 character 2e
	at java.base/java.util.Base64$Decoder.decode0(Base64.java:847)
	at java.base/java.util.Base64$Decoder.decode(Base64.java:566)
	at java.base/java.util.Base64$Decoder.decode(Base64.java:589)
	at kerberos.cryptotechniques.EncryptorDecryptor.decrypt(EncryptorDecryptor.java:

[2022-05-27 15:00] git-user44 opened #436 "start-hw: arduino about.md"
Forced to upgrade because of end of life of Fedora Core 34, I have now discover that the Arduino IDE no longer exists in FC35.

Following the instructions here [https://developer.fedoraproject.org/start/hw/arduino/about.html](url) results in...

flatpak install cc.arduino.arduinoide
Looking for matches…
error: No remote refs found similar to ‘cc.arduino.arduinoide’

So what does that mean ? No mor

[2022-05-27 18:33] jackorp commented on #436
Hi, thanks for reaching out.

Hmm, I may have forgotten a step, you also need to add the flathub remote. See this page for more info: https://developer.fedoraproject.org/deployment/flatpak/flatpak-usage.html

As to the last question, yes, arduino is no longer packaged in Fedora as it was orphaned for lack of time, see reason on this page: https://src.fedoraproject.org/rpms/arduino

[2022-05-31 12:46] pvalena opened #438 "RFE dotnet / dotnet-ide.md -- vscode rpm install"
Please add installation (and recommend) via: https://code.visualstudio.com/docs/setup/linux#_rhel-fedora-and-centos-based-distributions

(possibly duplicate?)

[2022-07-28 14:02] ROBERT-MCDOWELL opened #443 "deployment: openshift about.md"
about --insecure-registry please correct the page by

Fix:

vi /etc/docker/daemon.json
{ "insecure-registries": ["172.30.0.0/16"] }

Then restart Docker && sudo oc cluster up

[2022-08-29 12:32] #436 closed

[2022-09-14 00:44] jgoulart5628 opened #452 ": python django-installation.md"
Trying to use  '"from django.urls import url" wich demands the installation of url package.
There is a lot of compilation errors and the final message is: error: legacy-install-failure

Ps. Fedora 36, Python 3.10

[2022-09-14 22:00] mahtjarohst opened #453 "tech-database: mongodb about.md"
Unable to find a match: mongodb mongodb-server

If the repo is no longer available, please remove this from the portal. Or if I am making a mistake, fix the documentation so that it makes sense.

[2022-10-04 10:06] jackorp commented on #453
MongoDB is not available in Fedora for some time, therefore I have removed the section. AFAICT only 4.4 is the latest that will install without major problems from upstream repos.

Closing as duplicate of https://github.com/developer-portal/content/issues/426 .
Will be fixed by https://github.com/developer-portal/content/pull/456 .

[2022-10-04 10:06] #453 closed

[2022-10-04 10:06] jackorp commented on #426
Will be fixed by https://github.com/developer-portal/content/pull/456

[2022-10-07 08:48] #421 closed